<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary">
    <ion-row>
      <ion-col col-6>
          <ion-title > Informacion</ion-title>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-select  class ="seleccion"  placeholder='Seleccione Niño'  #C (ionChange)="slctNino(C.value)">
            <ion-option *ngFor="let item of infantes" [value]=item>
              {{item.Nombres}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-toolbar no-border-top >
      <ion-segment [(ngModel)]="Informacion">
        <ion-segment-button text-wrap value="Vacunas" (click)="initVac()">
          Vacunas
        </ion-segment-button>
        <ion-segment-button text-wrap value="Alimentacion">
          Alimentacion
        </ion-segment-button>
        <ion-segment-button text-wrap value="Desarrollo">
          Desarrollo
        </ion-segment-button>
        <ion-segment-button text-wrap value="Estimulacion">
          Estimulacion
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content padding>

  <div [ngSwitch]="Informacion">
    <ion-list  class="card-background-page" *ngSwitchCase="'Vacunas'">
      <ion-item >
        <ion-scroll scrollX="true" scroll-avatar>
          <div *ngFor="let itmFV of fechasV" class="scroll-item">
            <ion-avatar *ngIf="itmFV.idFecha >= 2">
                <img  src={{itmFV.strimg}}  alt="edad"  (click)="verVacuna(itmFV.idFecha)"/>
                <p  class="item-note"> {{itmFV.titulo}}</p>
              </ion-avatar>
          </div>
        </ion-scroll>
        </ion-item>
        <br><br>

        <ion-list  class="text-to-change"*ngFor="let vacuna of vacunas">
            <ion-row style="border-bottom: 1px solid grey!important;">
              <ion-col>
                <ion-row>
                  <ion-col>
                    <h4 style="text-align:left;">{{vacuna.nombre}}</h4>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-2>
                    <div (click)="showVacuna(vacuna)">
                      <div *ngIf="vacuna.vacunado==true">
                         <img width="50%" src="../assets/imgs/check.svg">
                      </div>
                      <div *ngIf="vacuna.vacunado==false">
                         <img width="50%" src="../assets/imgs/nochek.svg">
                      </div>
                    </div>
                  </ion-col>
                  <ion-col col-10>
                    <div class="clstxtVacuna">
                      <p>{{vacuna.descripcion}}</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-list>

    </ion-list>
    <ion-list class="popover-page" *ngSwitchCase="'Alimentacion'">
      <ion-range  min="0" max="3" step="1" color="secondary" [(ngModel)]="edadAlimento">
      </ion-range>
      <ion-list *ngFor="let almt of edadAlimts">
        <ion-card  [hidden]="verInfo(almt.key,2)">
          <ion-row class="logo-row">
            <ion-col width-80>
              <img src= {{almt.strimg}} />
            </ion-col>
          </ion-row>
              <ion-card-content>
                 <ion-card-title>
                   {{almt.edad}}
                 </ion-card-title>
                 <p text-wrap>
                    {{almt.descripcion}}
                </p>
             </ion-card-content>
             <ion-row no-padding>
               <div text-wrap>
                    {{almt.procedimiento}}
               </div>
            </ion-row>
          </ion-card>
      </ion-list>
    </ion-list>

    <ion-list  *ngSwitchCase="'Desarrollo'">
      <ion-range  min="0" max="5" step="1" color="secondary" [(ngModel)]="etapaC">
      </ion-range>
      <ion-list *ngFor="let etapaD of lstDesarrollo">
        <ion-card class="text-to-change" [hidden]="verInfo(etapaD.key,3)" >
            <ion-row class="logo-row">
              <ion-col width-80>
                <img src={{etapaD.strimg}} />
              </ion-col>
            </ion-row>
              <ion-card-content>
                 <ion-card-title style="text-align:center;">
                   {{etapaD.edad}}
                 </ion-card-title>
                 <ion-row no-padding>
                   <ion-list *ngFor="let desDesa of etapaD.lstDescripcion">
                        <ion-item  text-wrap>
                          <ion-row style="border-bottom: 1px solid grey!important; text-align:left;">
                            <ion-col col-2>
                              <img width="50%" src="../assets/imgs/baby1.svg" />
                            </ion-col>
                            <ion-col col-10>
                              <p>
                                 {{desDesa}}
                              </p>
                            </ion-col>
                          </ion-row>
                        </ion-item>
                   </ion-list>
                </ion-row>
             </ion-card-content>
         </ion-card>
      </ion-list>
    </ion-list>

    <ion-list  *ngSwitchCase="'Estimulacion'">
      <ion-range  min="0" max="5" step="1" color="secondary" [(ngModel)]="etapaS">
      </ion-range>
      <ion-list *ngFor="let etapaE of lstEstimulo">
        <ion-card class="text-to-change" [hidden]="verInfo(etapaE.key,4)">
            <ion-row class="logo-row">
              <ion-col width-80>
                <img src={{etapaE.strimg}} />
              </ion-col>
            </ion-row>
            <ion-card-content>
               <ion-card-title style="text-align:center;">
                 {{etapaE.edad}}
               </ion-card-title>
               <ion-row no-padding>
                 <ion-list *ngFor="let desEst of etapaE.lstDescripcion">
                      <ion-item  text-wrap>
                        <ion-row style="border-bottom: 1px solid grey!important;text-align:left;">
                          <ion-col col-2>
                            <img width="50%" src="../assets/imgs/baby.svg" />
                          </ion-col>
                          <ion-col col-10>
                            <p>
                               {{desEst}}
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-item>
                 </ion-list>
              </ion-row>
           </ion-card-content>
          </ion-card>
      </ion-list>
    </ion-list>
  </div>

</ion-content>
