page-info {

  .text-to-change div {
    margin: 10px auto;
  }

  .clstxtVacuna {
    text-align: left!important;
    font-size: 11px;
  }

  .no-side-borders {
    border-left: transparent;
    border-right: transparent;
  }
  .desh-atom-card-2 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  }
  .avatar {
    border-radius: 100%;
  }
  .margin {
    margin: 20px;

  }
  .fit-to-screen {
    margin-left: -10px;
    margin-right: -10px;
  }

  .scroll-content{
    padding: 0px!important;
  }

  ion-scroll[scrollX] {
      white-space: nowrap;
      height: 120px;
      overflow: hidden;

      .scroll-item {
        display: inline-block;
      }

      .selectable-icon{
        margin: 10px 20px 10px 20px;
        color: red;
        font-size: 100px;
      }


      ion-avatar img{
        margin: 10px;
      }
    }

    ion-scroll[scroll-avatar]{
      height: 80px;
    }

    /* Hide ion-content scrollbar */
    ::-webkit-scrollbar{
      display:none;
    }

  .scroll-zoom-wrapper {
        white-space: nowrap;
    }
  .seleccion{
    max-width: 100%!important;
  }

  .logo-row {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }


  ul {
    margin-top: 30px;
  }
  ul li {
    margin: 10px 0px;
    text-align: left;
    list-style: disc;
  }

  ion-segment-button{
    font-size: 11px;
  }

  .item-note{
    font-size: 8px;
    text-align: center;
  }

  .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        top: 36%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color:  #020202 ;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }


    }

  .popover-page {
    .text-to-change div {
      margin: 10px auto;
    }

    ion-row,
    ion-col {
      padding: 0;
    }

    .text-button {
      padding-left: 0;
      text-align: center;
      min-height: 20px;
      line-height: 18px;
    }

    .text-button .item-inner {
      padding-right: 0;
    }

    .text-smaller {
      font-size: 11px;
    }

    .text-larger {
      font-size: 16px;
    }

    .row-dots {
      text-align: center;

      .dot {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 10px auto;
        position: relative;
      }
    }

  }

  .popover-page {
    .text-smaller,
    .row-dots,
    .dot {
      border-width: $hairlines-width;
    }
  }
}
