<ion-header>
  <ion-navbar color="primary">
    <ion-row>
      <ion-col size="8">
        <ion-title> Niños </ion-title>
      </ion-col>
      <ion-col size="4" style="text-align: right;">
        <button ion-button class="main-button"  (click)="logOut()" color="primary">
          <ion-icon  slot="icon-only"  name="md-power"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list class="list-inset" *ngFor="let item of items | async">
        <ion-card class="desh-atom-card-24">
          <ion-row>
            <ion-col col-9>
              <ion-card-content (click)="monitoreo(item.key)" >
                <ion-item class="text-to-change">
                  <ion-avatar item-start>
                    <div *ngIf="item.Genero=='M'">
                       <img src="../assets/imgs/boy.jpg">
                    </div>
                    <div *ngIf="item.Genero=='F'">
                      <img src="../assets/imgs/girl.jpg">
                    </div>
                  </ion-avatar>
                   <div text-wrap><h2>{{item.Nombres}}  {{item.Apellidos}}</h2></div>
                   <div text-wrap>
                     <p>Nacido: {{item.FechaNac}}</p>
                     <p > {{verEdad(item.FechaNac)}} </p>
                   </div>
                </ion-item>
              </ion-card-content>
            </ion-col>
            <ion-col col-3>
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small (click)="updInfante(item.key)">
                    <ion-icon name="md-create"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col >
                  <button ion-button icon-start clear small (click)="delInfante(item.key)">
                    <ion-icon name="ios-trash"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
  </ion-list>

  <ion-fab right  bottom >
    <button  ion-fab color="secondary" (click)="openModal()">
      <ion-icon name='md-add'></ion-icon>
    </button>
  </ion-fab>
</ion-content>
